@import 'utils';

.auth {
  position: relative;
  display: flex;
  flex: 1;
  font-size: 14px;
  padding: 3rem;

}


//.social-row {
//  display: flex;
//  flex-flow: row wrap;
//  justify-content: space-between;
//  padding: 0 1rem;
//  .social-btn {
//    display: flex;
//    padding: .4rem;
//    justify-content: center;
//    align-items: center;
//    line-height: 0;
//    svg {
//      width: 1.6rem;
//      height: 1.6rem;
//    }
//    &.kakao-icon {color: #231816;}
//    &.facebook-icon {color: #3B5998;}
//    &.github-icon {color: #24292e;}
//    &.google-icon {color: #DC4E41;}
//    &:before {
//      content: '';
//      position: absolute;
//      left: 0;
//      top: 0;
//      color: inherit;
//      border-radius: 50%;
//      height: 100%;
//      width: 100%;
//      opacity: .1;
//      transition: .3s cubic-bezier(.25, .8, .5, 1);
//    }
//    &:hover, &:focus {
//      &:before {
//        background-color: theme('primary');
//      }
//    }
//  }
//}
