@import 'utils';

.header {
  z-index: z-index('header');
  background-color: theme('primary');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-size;
    max-width: 1440px;
    padding: 0 30px;
    @include media('>md') {
      padding: 0 36px;
      margin: 0 auto;
    }

    .left, .right {
      color: theme('fontColor');
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 12px;
      font-weight: 500;

      .logo {
        margin-right: 15px;
        line-height: 0;
        svg {
          height: 38px;
        }
      }
    }
    .right {
      justify-content: flex-end;

      button {
        color: theme('fontColor');
        background-color: transparent;
        padding: 10px 10px;
        font-size: 12px;
        font-weight: 500;
        @include media('>md') {
          padding: 10px 20px;
        }
        &:hover {
          color: #ffffff;
        }
      }
      .sign-up {
        @include media('>md') {
          background: linear-gradient(-180deg, #fed044 0%, theme('submitBtnColor') 98%);
          color: #ffffff;
          text-transform: uppercase;
          border-radius: 4px;
          &:hover {
            background: theme('submitBtnColor');
          }
        }
      }
    }
  }
}
