@import 'utils';

.wrapper {
  z-index: z-index('hamburger');
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    color: inherit;
    height: 100%;
    width: 100%;
    opacity: .05;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
  }
  &:active {
    &:before {
      background-color: currentColor;
    }
  }

  .spin {
    line-height: 0;
  }
}
// Settings
// ==================================================
$hamburger-padding-x                       : 3px;
$hamburger-padding-y                       : 3px;
$hamburger-layer-width                     : 16px;
$hamburger-layer-height                    : 2px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : #ffffff;
$hamburger-layer-border-radius             : 2px;
$hamburger-hover-opacity                   : 1;
$hamburger-active-layer-color              : $hamburger-layer-color;
$hamburger-active-hover-opacity            : $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false;
$hamburger-hover-filter       : opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  slider,
);

:global {
  // Base Hamburger (We need this)
  // ==================================================
  @import '~hamburgers/_sass/hamburgers/base';
  // Hamburger types
  // ==================================================
  @import '~hamburgers/_sass/hamburgers/types/slider';
}
