@import 'utils';

.navi {
  z-index: z-index('sidebar');
  position: fixed;
  top: 0;
  right: 0;
  width: 256px;
  height: 100vh;
  padding: #{$header-size} 0;
  background-color: theme('sidebarColor');
  backface-visibility: hidden;
  transform: translate(100%);
  &.active {
    transform: translate(0%);
  }
  @include media('>md') {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    background-color: unset;
    transform: unset;
  }

  .list {
    display: flex;
    @include media('<=md') {
      flex-flow: column wrap;
    }

    .type {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 13px;
      padding: 20px 55px;
      user-select: none;
      @include media('>md') {
        font-size: 12px;
        padding: 20px 25px;
        &:hover {
          color: #ffffff;
        }
      }
      @include media('<=md') {
        &.sub {
          font-size: 12px;
          padding: 17px 55px;
          color: #969696;
        }
      }

      &.current {
        color: #ffffff;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 25%;
          height: 50%;
          width: 3px;
          background-color: $oc-red-8;
        }
      }

      .expand-icon {
        font-size: 15px;
        margin-left: 5px;
      }
      .type-icon {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        font-size: 17px;
      }
      @include media('>md') {
        & + .wrapper {
          margin-left: 10px;
        }
      }
    }

    @include media('>md') {
      .wrapper {
        &:before {
          content: '';
          position: absolute;
          top: 20%;
          left: 0;
          width: 1px;
          height: 60%;
          background: theme('secondary');
        }
        .dropdown {
          position: absolute;
          top: calc((#{$header-size} - 100%) / 2 + 100%);
          left: 0;
          display: none;
          width: 250px;
          background-color: theme('sidebarColor');
          border-radius: 0 8px 8px 8px;
          padding: 16px 0 20px;
        }
        &:hover {
          border-radius: 8px 8px 0 0;
          background-color: theme('sidebarColor');
          &:before {
            top: unset;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 10px;
            background-color: theme('sidebarColor');
          }
          &:after {
            content: '';
            position: absolute;
            right: -16px;
            bottom: -9px;
            width: 16px;
            height: 16px;
            border-bottom-left-radius: 8px;
            box-shadow: -6px 6px 0 theme('sidebarColor');
            background: 0 0;
          }
          .dropdown {
            display: block;
          }
        }
      }
    }
  }
}
