@import 'utils';

.navi {
  z-index: z-index('sidebar');
  position: fixed;
  top: 0;
  right: 0;
  width: 256px;
  height: 100vh;
  padding: #{$header-size} 0;
  background-color: theme('sidebarColor');
  backface-visibility: hidden;
  transform: translate(100%);
  @include media('>md') {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    background-color: unset;
    transform: unset;
  }

  &.active {
    transform: translate(0%);
  }

  .list {
    @include media('>md') {
      display: flex;
      flex-flow: row wrap;
    }

    .type {
      position: relative;
      display: flex;
      align-items: center;
      padding: 21px 40px;
      user-select: none;
      @include media('>md') {
        padding: 20px 25px;
        &:hover {
          color: #ffffff;
        }
      }

      &.sub {
        @include media('<=md') {
          font-size: 11px;
        }
      }
      &.current {
        color: #ffffff;
        &:before {
          content: '';
          position: absolute;
          top: 25%;
          left: 0;
          height: 50%;
          width: 3px;
          background-color: $oc-red-8;
        }
      }

      .expand-icon {
        font-size: 14px;
        margin-left: 5px;
      }
      .type-icon {
        font-size: 14px;
        margin-right: 15px;
      }
    }

    .wrapper {
      @include media('>md') {
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 38px;
          margin-top: -19px;
          background: theme('secondary');
        }
        .dropdown {
          position: absolute;
          top: calc((#{$header-size} - 100%) / 2 + 100%);
          left: 0;
          display: none;
          width: 250px;
          background-color: theme('sidebarColor');
          border-radius: 0 8px 8px 8px;
          padding: 16px 0 20px;
        }
        &.active {
          border-radius: 8px 8px 0 0;
          background-color: theme('sidebarColor');

          &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 10px;
            background-color: theme('sidebarColor');
          }
          &:after {
            content: '';
            top: unset;
            left: unset;
            right: -16px;
            bottom: -9px;
            width: 16px;
            height: 16px;
            border-bottom-left-radius: 8px;
            box-shadow: -6px 6px 0 theme('sidebarColor');
            background: 0 0;
          }

          .dropdown {
            display: block;
          }
        }
      }
    }
  }
}
